/* font google Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	background-image: url(a.jpg);
	background-size: cover;
	font-family: "Poppins", sans-serif;
}

html,
body {
	height: 100%;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
}
.box {
	height: 520px;
	width: 370px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 20px;
	margin: auto;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.box img {
	border-radius: 50%;
	object-fit: cover;
	border: 6px solid #abd9ff;
	pointer-events: none;
}

.box h4 {
	padding-top: 20px;
	font-weight: bold;
}

.box .header {
	padding-top: 10px;
	font-weight: bold;
	font-size: 30px;
}

.box a
{
    color: black;
    text-decoration: none;
}
